GITHUB_ORG=STEMgraph
GITHUB_PAT="your-github-personal-access-token"
DATABASE_DIR=/graph-db
STORAGE_DIR=/graph-db/repos
TEMPLATE_DIR=/graph-db/templates
PORT=8000

KEYCLOAK_URL=https://demo-keycloak.your.domain
REALM=your-realm-name
CLIENT_ID=your-client-ID
CLIENT_SECRET="your-client-secret"
